.App {
  margin: 0;
  text-align: center;
  font-family: Arial, sans-serif;
}
body{
  margin: 0 0% 0 0%;
  padding: 0 0% 0 0;

}
input {
  font-size: 1.5vh;

  border: none;
  border-bottom: 2px solid #000;
  outline: none;


}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  margin: 10px 5% 0 0;
}

button {
  margin-left: 10%;
  border: none;
  background-color: blue;
  color: white;

}
.header{
  background-color: #2d2d2d;
  padding: 0 0 10px 0;
  color: #e3e3e3;
}
h1{
  margin: 0 0 0 0;
  padding: 10px 0 0 10px;
}
h2{

}
.contenedorPrincipal{
  margin-left: 5%;
}
